<% def disp_issues_tree(user, project, parent_id, count) %>
  <% return if count > 5 %>
    <ul>
      <% issues_sorted(project.issues).each do |issue| %>
        <% if (is_disp_issue(user, issue) || is_parent(user, issue, project)) && ((count == 1 && issue.parent_id.blank?) || (count > 1 && issue.parent_id == parent_id)) %>
          <li>
              <%= link_to ("#" + issue.id.to_s + " : " + issue.subject), issue_path(issue.id) %>
              [<%= issue.custom_field_values[1] %>]
              (<font color="<%= start_date_color(issue) %>"><%= issue.start_date.strftime("%m/%d") %></font> - 
               <font color="<%= due_date_color(issue) %>"><%= issue.due_date.strftime("%m/%d") %></font>)
              [<%= issue.status %>]
        <% if user.name == issue.assigned_to.to_s %>
            <ul>
              <% issue.journals.each do |journal| %>
                <% if is_disp_journal journal %>
                  <li>
                    <div style="font-size:100%; padding: 0.5em 1em; margin: 1em 0; color: #2c2c2f; background: whitesmoke; border: solid 1px #DDDDDD; border-radius: 6px;">
                      <%= simple_format(journal.created_on.strftime("[%m/%d]") + "\n" + journal.notes.delete("<").delete(">").to_s) %>
                    </div>
                  </li>
                <% end %>
              <% end %>
            </ul>
        <% end %>
            <% disp_issues_tree(user, project, issue.id, count + 1) %>
          </li>
        <% end %>
      <% end %>
    </ul>
<% end %>


<% @target_users.each do |user| %>
  <% if is_disp_user(user, @target_projects) %>
    <hr><h2><%= link_to user, user_path(user.id) %></h2>
  <% end %>
  <% @target_projects.each do |project| %>
    <% if is_disp_project(project, @project_id) %>
    <ul>
      <% project.issues.each do |issue| %>
        <% if is_disp_issue(user, issue) %>
          <li><h4><%= link_to project.name, project_path(project) %></h4></li>
          <% break %>
        <% end %>
      <% end %>
      <% disp_issues_tree(user, project, 0, 1) %>
    </ul>
    <% end %>
  <% end %>
<% end %>
